---
title: EVERYTHING EZZY
---

 <nav>
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/who-is-ezzy">Who is Ezzy?</a></li>
        <li><a href="/media">Media</a></li>
        <li><a href="/shows">Shows</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="#">Shop</a></li>
      </ul>
 </nav>

<section>
 <a href="#"><img src="/images/coin.gif" class="download"></a>
</section>