---
title: MEDIA
---

 <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/who-is-ezzy">Who is Ezzy?</a></li>
        <li><a href="/media" class="active">Media</a></li>
        <li><a href="/shows">Shows</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="#">Shop</a></li>
      </ul>
  </nav>

<section>
<iframe width="853" height="480" src="//www.youtube.com/embed/7ZQ1jQ2Z9gA?list=UUCb5yMyq4aeoh0FKb9e-uyg" frameborder="0" allowfullscreen></iframe>
<section>

<section>
 <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/36928905&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
</section>