---
title: SHOW DATES
---

 <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/who-is-ezzy">Who is Ezzy?</a></li>
        <li><a href="/media">Media</a></li>
        <li><a href="/shows" class="active">Shows</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="#">Shop</a></li>
      </ul>
    </nav>

<section class="shows">
  <span class="date">Apr 16</span>
  <span class="venue">Skully's Music Diner</span>
  <span class="location">Columbus, OH</span>
  <a href="#" class="tickets">Tickets</a>
</section>

<section class="shows">
  <span class="date">Apr 18</span>
  <span class="venue">Wo Wright's</span>
  <span class="location">Dayton, OH</span>
  <a href="#" class="tickets">Tickets</a>
</section>

<section class="shows">
  <span class="date">Apr 19</span>
  <span class="venue">Play Nightclub</span>
  <span class="location">Cincinatti, OH</span>
  <a href="#" class="tickets">Tickets</a>
</section>

<section class="shows">
  <span class="date">Apr 20</span>
  <span class="venue">Grog Shop</span>
  <span class="location">Cleveland, OH</span>
  <a href="#" class="tickets">Tickets</a>
</section>

<section class="shows">
  <span class="date">Apr 26</span>
  <span class="venue">Vortex</span>
  <span class="location">Akron, OH</span>
  <a href="#" class="tickets">Tickets</a>
</section>

<section class="shows">
  <span class="date">May 3</span>
  <span class="venue">Martin Field House</span>
  <span class="location">Hiram College</span>
  <a href="#" class="tickets">Tickets</a>
</section>