---
title: WHO IS EZZY?
---

 <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/who-is-ezzy" class="active">Who is Ezzy?</a></li>
        <li><a href="/media">Media</a></li>
        <li><a href="/shows">Shows</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="#">Shop</a></li>
      </ul>
    </nav>

<section>
<p class="bio">I aspire to <strong>inspire</strong> because this world is coming to an end. I see humanity <strong>disintegrate</strong> before my eyes every single day. In the environment in which I <strong>reside,</strong> there lies the <strong>over-saturation</strong> of hate, tension, and evil. Like many rap <strong>artists,</strong> I hail from the pit of the slums, but unlike many rap artists, I <strong>choose</strong> to fight against the urges to sin and use my <strong>gift</strong> for the wellbeing of <strong>mankind.</strong> This being said, not all of mankind likes hip-hop. Therefore I <strong>express</strong> my <strong>message</strong> through means of almost all aspects of art including graphic design, fashion <strong>design,</strong> audio visuals, and of course, <strong>music.</strong> My love for people has been instilled within me since <strong>birth</strong> and my love for art came shortly after. Throughout my lifetime, these two aspects of <strong>love</strong> merged into one, along with the <strong>desire</strong> to do wrong, the difficulty of doing right, the <strong>pressure</strong> of supporting my family, my religious <strong>beliefs,</strong> my love for what money can bring, and a few bad kids who just so happen to be my <strong>best</strong> friends. This is what I am a <strong>product</strong> of. I’m not a product of the world. I am a product of my <strong>life,</strong> my daily decisions, and my conscious. This is who I am, and this is <strong>Everything</strong> Ezzy. Remember, evil doesn’t discriminate against the rich or poor, <strong>black or white,</strong> Christian or Satanist. Adjust <strong>your</strong> priorities.
	<br/><br/>
<strong>Love,</strong></p>
<author>Ezzy</author>
</section>       